
.container {
    height: 90vh;
    width: 100vw;
    position: relative;
}

.profile-container {
    width: 100vw;
    position: relative
}


.container-cropper {
    display: grid;
    position: relative;
    height: 80%;
    padding: 10px;
}

.cropper {
    height: 80%;
    min-height: 500px;
}

.slider {
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto; 
}

.container-buttons {
    border: 1px solid #f5f5f5;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-btn {
    margin-top: 10px;
}