.handlee {
    font-family: 'Handlee', cursive;
    font-weight: 700;
    font-size: 35px;
}

a {
    text-decoration: none;
    color: rgb(0,149,246);
}

.login {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login_container {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 30px;
    background-color: rgb(255,255,255);
    border: 1px solid rgb(219,219,219);
}

.login_textBox {
    padding: 10px;
    font-size: 18px;
    margin-bottom: 10px;
    background-color: rgb(250,250,250);
    border: 1px solid rgb(219,219,219);
}

.login_btn, .guest_btn {
    padding: 10px;
    font-size: 18px;
    margin: 10px 0;
    border: none;
    color: rgb(255,255,255);
    background-color: rgb(0,149,246);
}

.login div {
    margin-top: 7px;
}