nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-height: 10vh;
    width: 100vw;
    color: black;
  }
  
  .nav-links {
    display: flex;
    align-items: center;
    list-style: none;
  } 
  
  .nav-link {
    text-decoration: none;
    margin-right: 50px;
    color: black;
  }

  .pandastagram {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    font-family: 'Handlee', cursive;
    font-weight: 700;
    font-size: 2ch;
  }

  .left {
    margin-right: auto;
  }

  #logo {
   width: 55px;
  }

  @media only screen and (max-width: 600px) {
    #logoText {
      display: none;
    }

    .rightLinks {
      overflow: auto;
      white-space: nowrap;
    }
  }