.post {
    display: grid;
    justify-content: center;
    background-color: rgb(250,250,250);
}
.postHeader {
    display: flex;
    align-items: center;
    padding: 20px 0px;
    background-color: white;
}
.postHeader-item {
    margin-left: 20px;
}
.postImage {
    width: 100vw;
    max-width: 500px;
}

.postFooter {
    text-align: left;
    background-color: white;
}

.heart {
    font-size: 4ch;
    margin: 0px;
}

.delete {
    float: right;
   padding: 5px;
}

.caption {
    margin-top: 0px;
}

.date {
    font-size: 12px;
}